<!-- =================================================
====================== _1_to_5 ==================
================================================= -->
<!-- #region _1_to_5 -->

<!--  #region 5. Analyzing a Built-in Structural Directive ngIf -->

<!-- <main>
  <app-learning-resources />

  <hr />

  <app-auth />
   -->
<!--
  BuildIn structural Director     ==  (*) structrual  (* === ng-template attribute)
  *ngIf 
  *ngFor
  ......
-->
<!-- 
<p *ngIf="isAdmin()">Only Admin should see this</p>

<ul *ngIf="isAdmin()">
  <h3>Employee List</h3>
  <li *ngFor="let employee of employees; let i = index">
    {{ i + 1 }}. {{ employee.name }} — {{ employee.role }}
  </li>
</ul>

</main> -->


<!--  #endregion -->

<!-- #endregion  -->



<!-- =================================================
====================== _10_to_12 ==================
================================================= -->
<!-- #region _10_to_12 -->

<!--  #region 10. Building Another Directive -->
<!-- 
<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <p appAuth="admin">Only Admin should see this</p>
</main>
 -->
<!-- #endregion  -->


<!--  #region 11. Building a Custom Structural Directive -->
<!-- <main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <ng-template appAuth="admin">
    <p >Only Admin should see this</p>
  </ng-template>
</main> -->
<!-- #endregion  -->



<!--  #region 12. Structural Directives & Syntactic Sugar -->
<!-- <main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <p *appAuth="'admin'" class="protected-content admin">Only Admin should see this</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">Only User should see this</p>
  <p *appAuth="'guest'" class="protected-content authenticated">Only guest should see this</p>
</main> -->
<!-- #endregion  -->


<!--  #region 13. Host Directives & Composition -->
<main>
  <app-learning-resources appLog/>

  <hr />

  <app-auth appLog/>

  <p *appAuth="'admin'" appLog class="protected-content admin">Only Admin should see this</p>
  <p *appAuth="'user'" appLog class="protected-content unauthenticated">Only User should see this</p>
  <p *appAuth="'guest'" appLog class="protected-content authenticated">Only guest should see this</p>
</main>
<!-- #endregion  -->


<!-- #endregion  -->